.adminpage {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;

  display: flex;
  flex-direction: column;   /* ✔ vertical column */
  align-items: center;      /* ✔ center align */
  gap: 20px;                /* ✔ spacing */
}

.updateBox {
  width: 100%;
  display: flex;
  flex-direction: column;   /* ✔ everything vertical */
  gap: 20px;
}


.updateBox div {
  transition: 0.2s ease;
}

.updateBox div:hover {
  background: #f1f1f1;
}

form {
  background: #fff;
}


.updateBox:hover {
  transform: translateY(-3px);
}

h2 {
  color: #5b360b;
  font-weight: 600;
}

button {
  border-radius: 25px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #a77028 !important;
}
