
.ratingWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffaf0;
}

.ratingContainer {
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.input-box {
  border-radius: 8px;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}

.starIcon {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

.active {
  color: #ffb400;
}
